<!-- insert announcements here -->

<!-- <br />
<p>If you are looking for MIMIC-II related content such as the SQL Querybuilder and PDF documentation, 
please <a href="http://mimic.physionet.org/archive/mimic-ii/">visit the archive</a>. 
</p>
<br /> -->

<br />
<p>If you use MIMIC data or code in your work, please cite the following publication: <br /><br />
<em>MIMIC-III, a freely accessible critical care database. Johnson AEW, Pollard TJ, Shen L, Lehman L, Feng M, Ghassemi M, Moody B, Szolovits P, Celi LA, and Mark RG. 
Scientific Data (2016). DOI: <a href="http://dx.doi.org/10.1038/sdata.2016.35">10.1038/sdata.2016.35</a></em>.
Available from: <a href="http://www.nature.com/articles/sdata201635">http://www.nature.com/articles/sdata201635</a>
</p>
<br />

<p>Researchers who publish studies using MIMIC-III must acknowledge our funders 
with the following statement:<br />
<br />
<em>This research was supported by the  National Institute of Biomedical 
Imaging and Bioengineering of the NIH under Award Number R01EB017205. 
The content is solely the responsibility of the authors and 
does not necessarily represent the official views of the NIH.
</p>
<br />
